<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.26.4" targetFramework="win81" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="win81" />
  <package id="PropertyChanged.Fody" version="1.49.0" targetFramework="win81" developmentDependency="true" />
</packages>